{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}


    <h1>Detail Produktu </h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ product.category.name}}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('print_products')}}">Spat na Vypis produktov</a>



{% endblock %}


