{% extends 'base.html.twig' %}

{% block title %}Hello PrintProductsController!{% endblock %}

{% block body %}


    <h1>Vypis Produktov</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Detail</th>
            <th>Objednavka</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <a href="{{ path('detail_products', {'id': product.id}) }}">Detail</a>
                </td>
                <td>
                    <a href="{{ path('orderr_new', {'id': product.id}) }}">Objednat</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
