{% extends 'base.html.twig' %}

{% block title %}Orderr{% endblock %}

{% block body %}
    <h1>Dakujeme ze ste si u nas nakupovali</h1>


    <a href="{{ path('print_products') }}">Spat na domovsku stranku </a>




{% endblock %}
